.slide-wraper-offer {
}

.slide-test-offer .slider-underImageText {
  transform: translateY(40%);
  opacity: 0;
  transition: all 300ms;
}
.slide-test-offer img {
  opacity: 0;
  transition: all 300ms;
}
.slide-test-offer .slider-subtitle {
  transform: translateY(40%);
  opacity: 0;
  transition: all 300ms;
}

.active-slide-test-offer .slider-underImageText {
  transform: translateY(0);
  opacity: 1;
  transition: all 300ms;
}
.active-slide-test-offer img {
  opacity: 1;
  transition: all 300ms;
}
.active-slide-test-offer .slider-subtitle {
  transform: translateY(0);
  opacity: 1;
  transition: all 300ms;
}
