.slide-test-offer .slider-underImageText {
  transform: translateX(40%);
  opacity: 0;
  transition: all 200ms;
}

.slide-test-offer img {
  opacity: 0;
  transition: all 200ms;
}

.slide-test-offer .slider-subtitle {
  transform: translateX(-40%);
  opacity: 0;
  transition: all 200ms;
}

@media (min-width: 768px) {
  .slide-test-offer .slider-subtitle {
    transform: translateX(40%);
  }

  .slide-test-offer .slider-underImageText {
    transform: translateX(-40%);
  }
}

.active-slide-test-offer .slider-underImageText {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}
.active-slide-test-offer img {
  opacity: 1;
  transition: all 200ms;
}
.active-slide-test-offer .slider-subtitle {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}
