.slide-test {
  height: 1000px;
}

.slide-test img {
  position: relative;
  opacity: 0.5;
  z-index: 2;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.slide-test > div {
  position: relative;

  transform: scale(80%);
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

@media (min-width: 768px) {
  .slide-test > div {
    transform: scale(100%);
    /* width: 415px; */
    /* height: 294px; */
  }
  .slide-test img {
    /* width: 100%; */
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .active-slide-test div {
    /* width: 100%; */
    /* transform: scale(150%); */
  }
  .active-slide-test {
  }
  .slide-test {
    /* transform: scale(54%); */
    height: auto;
  }

  .next-slide-test,
  .prev-slide-test {
    /* width: 121px !important; */
  }
}

@media (min-width: 1280px) {
}

.slide-test > div::before {
  content: "";
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: rgba(2, 15, 8, 0.75);
  box-shadow: 0px 0px 100px 0px rgba(9, 20, 16, 0.5);

  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.active-slide-test img {
  opacity: 1 !important;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.active-slide-test div {
  transform: scale(100%);

  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.active-slide-test div::before {
  box-shadow: none;
  background-color: transparent;
}
